@import "_variables";

.l-header {
  background-color: $primary-bg-colour
}

.l-header__figure {
  display: inline-block;
}

.toggle {
  color: $secondry-font-colour;
  font-size: 2em;
  display: none;
  float: right;
  margin: 0.5em 30px;
  box-sizing: border-box;
  // padding: 13px 0 0 13px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
}

// .l-header__nav--mb {
//   //display: none;
//
//   display: block;
//   position: fixed;
//   overflow: scroll;
//   z-index: 4;
//   top: 0;
//   right: 0;
//   font-family: GT Walsheim;
//   letter-spacing: -.04em;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   width: 100%;
//   font-size: 39px;
//   background: #1a284d;
//   padding: 53px 0 40px;
//   bottom: 0;
//   -webkit-transform: translate3d(0,-100%,0);
//   transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
//   transition: transform .6s cubic-bezier(.165, .84, .44, 1);
//   transition: transform .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
//
//
// }
// .navigation__item--mb {
//   position: relative;
//   height: 63px;
//   color: #fff;
//   background: #1a284d;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   transition: color .6s;
//
// }

.l-header__nav--mb {
  display: block;
  position: fixed;
  overflow: scroll;
  z-index: 4;
  top: 0;
  right: 0;
  letter-spacing: -.04em;
  width: 100%;
  font-size: 2em;
  // background: #1a284d;
  background-color: #3b3b3b;
  padding: 100px 0 40px;
  bottom: 0;
  -webkit-transform: translate3d(0,-100%,0);
  transition: -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
  transition: transform .6s cubic-bezier(.165, .84, .44, 1);
  transition: transform .6s cubic-bezier(.165, .84, .44, 1), -webkit-transform .6s cubic-bezier(.165, .84, .44, 1);
}

.show {
  -webkit-transform: translate3d(0,0,0);
}

.navigation__list--mb {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation__item--mb {
  padding: 4%;
  text-align: center;
}

.navigation__link--mb {
  color: white;
  font-size: 2em;
}
