

// |---------------------------------------|
// |                COLOURS                |
// |---------------------------------------|

// primary bg colour
$primary-bg-colour: #3b3b3b;

// 444343;
// Secondry bg colour
$secondry-bg-colour: white;


// fonts

// primary font colour
$primary-font-colour: #95837c;

//secondry font colour
$secondry-font-colour: white;

//third font colour
$third-font-colour: black;

// button colour
$primary-btn-colour: red;
$btn-colour--light: white;

// |---------------------------------------|
// |                Font-family            |
// |---------------------------------------|

//primary font
$font-family: 'Open Sans', sans-serif;

//secondry font
$secondry-font-family:'Sarala', sans-serif;
