@import "_variables.scss";
@import "_mixins.scss";

@import "base/_base.scss";

@import "layout/_layout.scss";

@import "modules/_modules.scss";


/* Media queries
-------------------------------------------------------------------------------*/

@media screen and (max-width: 1100px) {

  .l-hero {
    text-align: center;

  }

  .l-hero__content {
    margin-left: 0;
  }

  .l-hero__figure {
    display: block;
    margin-left: 0;
    margin-top: 6%;
  }

}


@media screen and (max-width: 933px)  {

  .navigation {
    display: none;
  }

}


@media screen and (max-width: 854px)  {
  .l-description {
    height: 45em;
  }

  .l-feature__block {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  .l-feature__content {
    padding-left: 15%;
    padding-right:15%;
  }

  .l-product__figure--mb {
    display: block;
    margin: 0;
  }

  .l-product__content--mb {
    display: block;
    text-align: center;
    margin: 0;

    p {
      padding-left: 15%;
      padding-right: 15%;
    }

  }

  .l-product__figure {
    display: none;
  }

  .l-product__content {
    display: none;
  }

  .l-product {
    height: 75em;
  }


  .l-health__image {
      display: none;
  }

  .l-health__content {
    display: none;
  }

  .l-health__image--mb {
    display: block;
    margin: 0;

    img {
      width: 100%;
    }
  }

  .l-health__content--mb {
    display: block;
    text-align: center;
    margin: 0;
    p {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  .l-health {
    height: 75em;
  }

}


@media screen and (max-width: 685px)  {
  .l-product {
    height: 65em;
  }

  .l-health {
    height: 65em;
  }

}


@media screen and (max-width: 425px)  {
  .l-description {
    height: 50em;
  }

  .l-product {
    height: 55em;
  }

  .l-health {
    height: 55em;
  }

  .l-hero {
    height: 43em;
  }

  .l-hero__content {
    margin-top: 10%;
      h1 {
        font-size: 3em;
        padding-left: 4%;
        padding-right: 4%;
      }
  }

  .l-hero__desc {
    font-size: 1.1em;
    padding-left: 2%;
    padding-right: 2%;
  }

}


@media screen and (max-width: 351px)  {
  .l-description {
    height: 50em;
  }

  .l-product {
    height: 55em;
  }

  .l-health {
    height: 55em;
  }

  .l-hero__content {
      h1 {
        font-size: 2.6em;
      }
  }

  .l-hero__desc {
    font-size: 1em;
    padding-left: 5%;
    padding-right: 5%;
  }

  .l-hero__figure {
    img {
      width: 85%;
    }
  }

  .l-description {
    height: 60em;
  }

  .l-hero__content {
    margin-top: 25%;
  }


}
